.carousel-item {
  img {
    vertical-align: middle;
    max-height: 90vh;
    min-height: 90vh;
    object-fit: cover;
  }
  @media(max-width: 1366px) {
    max-height: 85vh;
    min-height: 85vh;
  }
  @media(max-width: 1024px) {
    
  }
}


