.forgot-password {
  width: 30em;
 .btn-submit {
    background-color: #000000;
    color: #ffffff;
    width: 6rem;
    letter-spacing: 0.2rem;
    &:hover {
      background-color: #212121;
    }
  }
}
 
