.contact {
  max-width: 35vw;
  margin-top: 14vh;
  margin-left: 8vw;
  &-title {
    font-weight: bolder;
    font-size: 1.7rem;
    letter-spacing: .05em;
    line-height: 1.2rem;
  }
  .btn-submit {
    background-color: #000000;
    color: #ffffff;
    width: 8rem;
    letter-spacing: 0.2rem;
    &:hover {
      background-color: #212121;
    }
  }
}