.navbar {
  position: fixed;
  max-height: 100vh;
  min-height: 90vh;
  align-items: flex-start !important;
  .active {
    color: #000 !important;
  }
  &-brand {
    img {
      width: 14vw;
    }
  } 
  &-nav {
    .nav{
      &-item:nth-child(4){
        margin-top: 2rem;
      }
      &-link {

        color: rgba(0,0,0,.75);
        padding: 0.2em !important;
        padding-bottom: 0 !important;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: .02em;
        &:hover {
          color: #ff4081;
        }
      }
      &-home {
        position: absolute;
        top: 8vh;
      }
      &-login {
        position: absolute;
        bottom: 0;
      }
      @media(min-width: 425px) {
        &-login {
          // padding-top: 54vh;
         }
      }
   }
  }
  @media (min-width: 1366px) {
    position: relative;
  }
}




