.login {
  width: 30em;
  .btn {
    &-submit{
      background-color: #000000;
      color: #ffffff;
      width: 8rem;
      letter-spacing: 0.2rem;
      &:hover {
        background-color: #212121;
      }
    }
    &-forgotPass {
      &:hover {
        color: #9e9e9e;
      }
    }
  }
}